#OSC
NET "clk"       LOC = "P84" | IOSTANDARD = LVCMOS33;

#pwmo
NET "pwmo<0>" LOC = P78 | IOSTANDARD = LVCMOS33;
NET "pwmo<1>" LOC = P80 | IOSTANDARD = LVCMOS33;
NET "pwmo<2>" LOC = P82 | IOSTANDARD = LVCMOS33;

#Din
NET "din<0>" LOC = P85 | IOSTANDARD = LVCMOS33;
NET "din<1>" LOC = P88 | IOSTANDARD = LVCMOS33;
NET "din<2>" LOC = P94 | IOSTANDARD = LVCMOS33;
NET "din<3>" LOC = P98 | IOSTANDARD = LVCMOS33;
NET "din<4>" LOC = P101 | IOSTANDARD = LVCMOS33;
NET "din<5>" LOC = P102 | IOSTANDARD = LVCMOS33;

#Adrs
NET "adrs<0>" LOC = P79 | IOSTANDARD = LVCMOS33;
NET "adrs<1>" LOC = P81 | IOSTANDARD = LVCMOS33;
NET "adrs<2>" LOC = P83 | IOSTANDARD = LVCMOS33;
NET "adrs<3>" LOC = P93 | IOSTANDARD = LVCMOS33;
NET "adrs<4>" LOC = P95 | IOSTANDARD = LVCMOS33;

#Wr
NET "wr" LOC = P99 | IOSTANDARD = LVCMOS33;