#OSC
NET "clk"       LOC = "P84" | IOSTANDARD = LVCMOS33;


NET "pos<0>" LOC = P79 | IOSTANDARD = LVCMOS33; 
NET "pos<1>" LOC = P78 | IOSTANDARD = LVCMOS33; 
NET "out" LOC = P81 | IOSTANDARD = LVCMOS33;
