#OSC
NET "clk"       LOC = "P84" | IOSTANDARD = LVCMOS33;

#Periodo
NET "period<0>" LOC = P78 | IOSTANDARD = LVCMOS33;
NET "period<1>" LOC = P79 | IOSTANDARD = LVCMOS33;
NET "period<2>" LOC = P80 | IOSTANDARD = LVCMOS33;
NET "period<3>" LOC = P81 | IOSTANDARD = LVCMOS33;
NET "period<4>" LOC = P82 | IOSTANDARD = LVCMOS33;

#Duty
NET "duty<0>" LOC = P83 | IOSTANDARD = LVCMOS33;
NET "duty<1>" LOC = P85 | IOSTANDARD = LVCMOS33;
NET "duty<2>" LOC = P88 | IOSTANDARD = LVCMOS33;
NET "duty<3>" LOC = P93 | IOSTANDARD = LVCMOS33;
NET "duty<4>" LOC = P94 | IOSTANDARD = LVCMOS33;

#Servo
NET "servo<0>" LOC = P95 | IOSTANDARD = LVCMOS33;

#Out
NET "out<0>" LOC = P98 | IOSTANDARD = LVCMOS33;
